html {
    background-image: url("images/blue.jpg");
    background-repeat: no-repeat;
    font-family: arial;
}
body {
    color: #d3e0ea;
    padding: 1em;
    text-align: center;
}
#content {
    width: 312px;
    margin-right: auto;
    margin-left: auto;
}
h3 {
    color: #d3e0ea;
    font-size: 1.5em;
    margin-bottom: 5px;
}
P {
    margin-top: 5px;
}
label{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .2em;
}
input, select {
    width: 250px;
    height: 60px;
    margin-bottom: .5em;
    font-size: 3em;
    background-color: #d3e0ea;
    color: #154fb9;
    text-align: center;
}
input:focus {
    outline: #d3e0e1 solid 2px;
}
img {
    width: 126px;
    height: 60px;
}
#back {
    width: 258px;
}