html {
    background-image: url("blue.jpg");
    background-repeat: no-repeat;
    background-size: 300%;
    /*background-color: #276678;*/
    font-family: arial;
}
body {
    color: #d3e0ea;
    padding: 1em;
}
#content {
    width: 312px;
    height: 567px;
}
h3 {
    color: #d3e0ea;
    font-size: 1.5em;
}
label{
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: .2em;
}
input, select {
    width: 250px;
    height: 60px;
    margin-bottom: .5em;
    font-size: 3em;
    background-color: #d3e0ea;
    color: #154fb9;
    text-align: center;
}
input:focus {
    outline: #d3e0e1 solid 2px;
}
img {
    width: 130px;
    height: 60px;
}